
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.add-more-b35 {
  position: relative;
  overflow: hidden;
  background-color: #131e3c;
  width: 100%;
  height: 85.2rem;

  .rectangle-1-HRh {
    left: 0;
    top: 2rem;
    background-color: #ffffff;
    width: 39.3rem;
    height: 82.5rem;
    position: absolute;
  }
  .ellipse-10-Ebq {
    top: 25.4rem;
    background-color: #d9d9d9;
    border-radius: 2.35rem;
    width: 4.7rem;
    height: 4.7rem;
    position: absolute;
    left: 4.4rem;
  }
  .ellipse-11-Zu1 {
    vertical-align: top;
    width: 5.7rem;
    height: 5.1rem;
    position: absolute;
    left: 4.4rem;
    top: 25.4rem;
    object-fit: contain;
  }
  .ellipse-15-W3Z {
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
    position: absolute;
    left: 4.4rem;
    top: 32.8rem;
  }
  .ellipse-16-ST1 {
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
    position: absolute;
    left: 4.4rem;
    top: 39.4rem;
  }
  .ellipse-17-MZy {
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
    position: absolute;
    left: 4.4rem;
    top: 46rem;
  }
  .ellipse-18-Ueb {
    top: 52.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
    position: absolute;
    left: 4.4rem;
  }
  .ellipse-19-n9V {
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
    position: absolute;
    left: 4.4rem;
    top: 59.2rem;
  }
  .ellipse-20-W5V {
    position: absolute;
    left: 4.1rem;
    top: 65.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.7rem;
    height: 4.8rem;
  }
  .back-2-eSb {
    cursor: pointer;
    position: absolute;
    left: 0.9rem;
    top: 4.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.2rem;
    height: 2.6rem;
  }
  .logo-1-BhR {
    width: 21.7rem;
    height: 5rem;
    position: absolute;
    left: 16.1rem;
    top: 3.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .metformin-ihM {
    height: 5.3rem;
    position: absolute;
    left: 9.1rem;
    top: 12.9rem;
    font-size: 3.6rem;
    font-family: Jost, 'Source Sans Pro';
    width: 18.4rem;
    font-weight: 900;
    line-height: 1.445;
    color: #000000;
    white-space: nowrap;
  }
  .ellipse-7-dZR {
    height: 9.4rem;
    position: absolute;
    left: 23.6rem;
    top: 25.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 9.8rem;
  }
  .ellipse-8-ZCB {
    vertical-align: top;
    width: 9.8rem;
    height: 9.4rem;
    position: absolute;
    left: 23.6rem;
    top: 53.2rem;
    object-fit: contain;
  }
  .ellipse-9-6xo {
    position: absolute;
    left: 23.6rem;
    top: 39.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 9.8rem;
    height: 9.4rem;
  }
  .mon-ejR {
    line-height: 1.445;
    white-space: nowrap;
    width: 4.2rem;
    height: 2.4rem;
    position: absolute;
    left: 5rem;
    font-family: Jost, 'Source Sans Pro';
    top: 26.8rem;
    font-size: 1.6rem;
    font-weight: 900;
    color: #000000;
  }
  .tue-88o {
    width: 3.3rem;
    left: 5.4rem;
    font-weight: 900;
    line-height: 1.445;
    color: #000000;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    top: 33.9rem;
    font-size: 1.6rem;
    font-family: Jost, 'Source Sans Pro';
  }
  .wed-QMD {
    width: 4.1rem;
    height: 2.4rem;
    color: #000000;
    white-space: nowrap;
    font-family: Jost, 'Source Sans Pro';
    position: absolute;
    left: 5.3rem;
    top: 40.9rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.445;
  }
  .thu-VtT {
    height: 2.4rem;
    top: 47.2rem;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.6rem;
    position: absolute;
    left: 5.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.445;
  }
  .fri-2dV {
    top: 54.1rem;
    font-size: 1.6rem;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    width: 2.7rem;
    height: 2.4rem;
    left: 5.6rem;
    white-space: nowrap;
    position: absolute;
    font-weight: 900;
    line-height: 1.445;
  }
  .sat-95q {
    height: 2.4rem;
    top: 60.4rem;
    font-family: Jost, 'Source Sans Pro';
    line-height: 1.445;
    color: #000000;
    white-space: nowrap;
    width: 3.3rem;
    position: absolute;
    left: 5.3rem;
    font-size: 1.6rem;
    font-weight: 900;
  }
  .sun-1tj {
    line-height: 1.445;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.6rem;
    position: absolute;
    left: 5rem;
    top: 67rem;
    font-weight: 900;
    height: 2.4rem;
    font-size: 1.6rem;
    color: #000000;
  }
  .night-9EF {
    width: 5.6rem;
    height: 2.4rem;
    position: absolute;
    left: 25.5rem;
    top: 56.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.445;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
  }
  .noon-fCb {
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.3rem;
    position: absolute;
    left: 25.7rem;
    top: 43.3rem;
    line-height: 1.445;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 900;
  }
  .dawn-YnB {
    left: 25.7rem;
    white-space: nowrap;
    color: #000000;
    width: 5.4rem;
    height: 2.4rem;
    position: absolute;
    top: 29.2rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.445;
    font-family: Jost, 'Source Sans Pro';
  }
}
