
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.contact-us-mHZ {
  overflow: hidden;
  background-color: #131e3c;
  width: 100%;
  height: 85.2rem;
  position: relative;

  .rectangle-1-JYP {
    height: 82.5rem;
    position: absolute;
    left: 0;
    top: 3.9rem;
    background-color: #ffffff;
    width: 39.3rem;
  }
  .back-1-DvF {
    object-fit: cover;
    vertical-align: top;
    width: 5.2rem;
    height: 2.6rem;
    cursor: pointer;
    position: absolute;
    left: 0.9rem;
    top: 5.5rem;
  }
  .logo-1-MWf {
    vertical-align: top;
    width: 21.7rem;
    height: 5rem;
    position: absolute;
    left: 16.1rem;
    top: 4.2rem;
    object-fit: cover;
  }
  .get-in-touch-6UF {
    top: 13.9rem;
    font-size: 4.8rem;
    font-weight: 900;
    font-family: Jost, 'Source Sans Pro';
    position: absolute;
    height: 7rem;
    left: 1.6rem;
    line-height: 1.445;
    color: #131e3c;
    white-space: nowrap;
    width: 36.3rem;
  }
  .wed-love-to-hear-from-you-heres-how-you-can-reach-us-xFZ {
    width: 29.5rem;
    top: 29.1rem;
    text-align: center;
    line-height: 1.445;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    height: 10.5rem;
    position: absolute;
    left: 4.9rem;
    font-size: 2.4rem;
    font-weight: 900;
  }
  .virtucaregmailcom-virtuecare-virtue-care-2FR {
    font-size: 2.7rem;
    font-family: Abril Fatface, 'Source Sans Pro';
    line-height: 1.3475;
    color: #000000;
    width: 27.1rem;
    height: 21.9rem;
    position: absolute;
    left: 6.8rem;
    top: 46.2rem;
    font-weight: 400;
  }
  .image-2-vLo {
    height: 3.5rem;
    position: absolute;
    left: 1.6rem;
    top: 64.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.5rem;
  }
  .image-3-RoM {
    object-fit: cover;
    vertical-align: top;
    width: 3.5rem;
    height: 2.9rem;
    position: absolute;
    left: 1.6rem;
    top: 50.3rem;
  }
  .image-1-ZuZ {
    position: absolute;
    left: 1.6rem;
    top: 57rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.5rem;
    height: 3.7rem;
  }
}
