
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.doctors-assistance-F9Z {
  width: 100%;
  height: 85.2rem;
  position: relative;
  overflow: hidden;
  background-color: #131e3c;

  .rectangle-1-YPZ {
    width: 39.3rem;
    height: 82.5rem;
    position: absolute;
    left: 0;
    top: 2.7rem;
    background-color: #ffffff;
  }
  .back-1-H6F {
    left: 0.9rem;
    top: 5.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.2rem;
    height: 2.6rem;
    cursor: pointer;
    position: absolute;
  }
  .doctors-assistance-oKV {
    font-family: Jost, 'Source Sans Pro';
    height: 13.9rem;
    left: 3.75rem;
    text-align: center;
    font-size: 4.8rem;
    line-height: 1.445;
    color: #131e3c;
    width: 31.8rem;
    position: absolute;
    top: 14.2rem;
    font-weight: 900;
  }
  .rectangle-14-S7Z {
    width: 32.8rem;
    left: 2.9rem;
    top: 36.3rem;
    height: 12.5rem;
    cursor: pointer;
    position: absolute;
    filter: blur(0.2rem);
    background-color: #b3dae0;
    border-radius: 1rem;
  }
  .rectangle-15-wKD {
    cursor: pointer;
    left: 2.9rem;
    border-radius: 1rem;
    filter: blur(0.2rem);
    background-color: #e36666;
    width: 32.8rem;
    height: 12.5rem;
    position: absolute;
    top: 52.5rem;
  }
  .rectangle-16-THZ {
    left: 2.9rem;
    border-radius: 1rem;
    width: 32.8rem;
    height: 12.5rem;
    cursor: pointer;
    background-color: #a89ad5;
    position: absolute;
    top: 68.7rem;
    filter: blur(0.2rem);
  }
  .text-your-doctor-1-yWo {
    object-fit: cover;
    vertical-align: top;
    width: 10.6rem;
    height: 9.3rem;
    position: absolute;
    left: 23.4rem;
    top: 70.3rem;
  }
  .doc-1-JZ5 {
    width: 14.5rem;
    height: 13rem;
    position: absolute;
    left: 24.8rem;
    top: 37.4rem;
    object-fit: cover;
    vertical-align: top;
  }
  .hospitsl-1-Ehd {
    width: 15.4rem;
    height: 10.2rem;
    position: absolute;
    left: 0;
    top: 53.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .primary-care-appointment-aFh {
    width: 25.2rem;
    height: 2.9rem;
    position: absolute;
    left: 3.5rem;
    top: 41.1rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.445;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
  }
  .urgent-care-RXD {
    width: 11.8rem;
    position: absolute;
    left: 17.8rem;
    font-size: 2rem;
    font-weight: 800;
    white-space: nowrap;
    height: 2.9rem;
    top: 56.6rem;
    line-height: 1.445;
    color: #ffffff;
    font-family: Jost, 'Source Sans Pro';
  }
  .text-your-doctor-HJX {
    font-weight: 800;
    white-space: nowrap;
    height: 2.9rem;
    left: 6.1rem;
    top: 72.4rem;
    font-size: 2rem;
    line-height: 1.445;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    width: 16.1rem;
    position: absolute;
  }
  .logo-1-ZG3 {
    left: 16.1rem;
    top: 4.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.7rem;
    height: 5rem;
    position: absolute;
  }
}
