
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.primary-care--Sdu {
  width: 100%;
  height: 109.5rem;
  position: relative;
  overflow: hidden;
  background-color: #131e3c;

  .rectangle-1-8Wj {
    left: 0;
    top: 2.7rem;
    background-color: #ffffff;
    width: 39.3rem;
    height: 106.8rem;
    position: absolute;
  }
  .logo-1-49V {
    height: 5rem;
    position: absolute;
    left: 16.1rem;
    top: 4.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.7rem;
  }
  .back-1-wj5 {
    width: 5.2rem;
    height: 2.6rem;
    position: absolute;
    left: 0.9rem;
    top: 5.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .back-3-gwZ {
    width: 5.2rem;
    height: 2.6rem;
    position: absolute;
    left: 0.9rem;
    top: 5.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .back-2-ETH {
    position: absolute;
    left: 0.9rem;
    top: 5.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.2rem;
    height: 2.6rem;
    cursor: pointer;
  }
  .primary-care-appointment-nDu {
    font-weight: 800;
    line-height: 1.445;
    color: #131e3c;
    width: 37.2rem;
    height: 13.9rem;
    position: absolute;
    left: 0.6rem;
    font-size: 4.8rem;
    font-family: Jost, 'Source Sans Pro';
    top: 12.1rem;
  }
  .choose-your-own-primary-care-doctor-and-book-an-introductory-video-visit-rUf {
    top: 29.6rem;
    font-weight: 800;
    line-height: 1.445;
    font-family: Jost, 'Source Sans Pro';
    position: absolute;
    left: 4.1rem;
    font-size: 2rem;
    color: #000000;
    width: 31.2rem;
    height: 8.7rem;
  }
  .available-doctors-vzK {
    top: 42.6rem;
    font-size: 2rem;
    font-style: italic;
    color: #131e3c;
    font-family: Jost, 'Source Sans Pro';
    width: 16.4rem;
    height: 2.9rem;
    position: absolute;
    left: 2rem;
    font-weight: 700;
    line-height: 1.445;
    white-space: nowrap;
  }
  .rectangle-25-eQX {
    position: absolute;
    left: 2.8rem;
    top: 49.3rem;
    background-color: #f1f0f6;
    border-radius: 1.8rem;
    width: 32.4rem;
    height: 11rem;
  }
  .rectangle-26-xAK {
    border-radius: 1.8rem;
    width: 32.4rem;
    height: 11rem;
    position: absolute;
    left: 2.8rem;
    top: 63.3rem;
    background-color: #f1f0f6;
  }
  .rectangle-27-e39 {
    border-radius: 1.8rem;
    width: 32.4rem;
    height: 11rem;
    position: absolute;
    left: 2.8rem;
    top: 77.3rem;
    background-color: #f1f0f6;
  }
  .rectangle-28-ybD {
    position: absolute;
    left: 2.8rem;
    top: 91.3rem;
    background-color: #f1f0f6;
    border-radius: 1.8rem;
    width: 32.4rem;
    height: 11rem;
  }
  .amit-agarwal-1-JdV {
    top: 50.3rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 6.4rem;
    height: 9rem;
    position: absolute;
    left: 4.1rem;
  }
  .dr-amit-agarwal-Cis {
    position: absolute;
    left: 14.2rem;
    top: 50.9rem;
    font-size: 2rem;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    height: 2.9rem;
    font-weight: 700;
    line-height: 1.445;
    white-space: nowrap;
    width: 16.2rem;
  }
  .dr-ramakanta-p-K2o {
    position: absolute;
    top: 64.9rem;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    width: 16rem;
    height: 2.9rem;
    left: 14.2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.445;
  }
  .dr-suniti-mishra-2hu {
    height: 2.9rem;
    position: absolute;
    left: 14.2rem;
    font-size: 2rem;
    line-height: 1.445;
    color: #000000;
    width: 15.6rem;
    font-weight: 700;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    top: 78.9rem;
  }
  .dr-suniti-mishra-voH {
    top: 78.9rem;
    line-height: 1.445;
    font-family: Jost, 'Source Sans Pro';
    width: 15.6rem;
    position: absolute;
    left: 14.2rem;
    color: #000000;
    white-space: nowrap;
    height: 2.9rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .dr-vijay-laxmi-zYF {
    white-space: nowrap;
    width: 14.1rem;
    line-height: 1.445;
    color: #000000;
    top: 92.9rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: Jost, 'Source Sans Pro';
    height: 2.9rem;
    position: absolute;
    left: 14.2rem;
  }
  .image-5-K4j {
    width: 7.3rem;
    height: 9.3rem;
    position: absolute;
    left: 4.1rem;
    top: 64.1rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1.1rem;
  }
  .senior-consultant-ent-DA7 {
    width: 8.6rem;
    height: 2.9rem;
    position: absolute;
    top: 54.1rem;
    font-size: 1rem;
    line-height: 1.445;
    color: #615a5a;
    font-family: Jost, 'Source Sans Pro';
    left: 14.2rem;
    font-weight: 700;
  }
  .consultant-internal-medicines-icf {
    top: 68rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.445;
    height: 2.9rem;
    position: absolute;
    color: #615a5a;
    font-family: Jost, 'Source Sans Pro';
    width: 9.3rem;
    left: 14.1rem;
  }
  .senior-consultant-histopathology-E5D {
    width: 8.6rem;
    position: absolute;
    left: 14.2rem;
    font-weight: 700;
    line-height: 1.445;
    color: #615a5a;
    height: 2.9rem;
    top: 82rem;
    font-size: 1rem;
    font-family: Jost, 'Source Sans Pro';
  }
  .senior-consultant-histopathology-WoR {
    width: 8.6rem;
    height: 2.9rem;
    position: absolute;
    top: 82rem;
    font-weight: 700;
    color: #615a5a;
    font-family: Jost, 'Source Sans Pro';
    left: 14.2rem;
    font-size: 1rem;
    line-height: 1.445;
  }
  .consultant-dermatology-Dhq {
    position: absolute;
    font-family: Jost, 'Source Sans Pro';
    height: 2.9rem;
    left: 14.1rem;
    top: 96.2rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.445;
    color: #615a5a;
    width: 6.7rem;
  }
  .consultant-dermatology-U7y {
    line-height: 1.445;
    font-family: Jost, 'Source Sans Pro';
    width: 6.7rem;
    height: 2.9rem;
    font-weight: 700;
    font-size: 1rem;
    color: #615a5a;
    position: absolute;
    left: 14.1rem;
    top: 96rem;
  }
  .image-6-yKd {
    width: 7.3rem;
    height: 8.8rem;
    position: absolute;
    left: 4.1rem;
    top: 78.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
  }
  .image-7-sR1 {
    top: 92.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1.2rem;
    width: 7.3rem;
    height: 8.9rem;
    position: absolute;
    left: 4.1rem;
  }
}
