
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.account-details-N6B {
  width: 100%;
  height: 85.2rem;
  position: relative;
  overflow: hidden;
  background-color: #131e3c;
}
.account-details-N6B .rectangle-1-h8T {
  width: 39.3rem;
  height: 82.5rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  background-color: #ffffff;
}
.account-details-N6B .rectangle-23-EeB {
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 21rem;
  top: 54.5rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-details-N6B .rectangle-22-9m9 {
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 1.4rem;
  top: 54.5rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-details-N6B .rectangle-21-Enb {
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 21rem;
  top: 42.6rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-details-N6B .logo-1-yVH {
  width: 21.7rem;
  height: 5rem;
  position: absolute;
  left: 16.1rem;
  top: 3.6rem;
  object-fit: cover;
  vertical-align: top;
}
.account-details-N6B .back-2-tcF {
  width: 5.2rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 0.9rem;
  top: 4.9rem;
  object-fit: cover;
  vertical-align: top;
}
.account-details-N6B .account-details-ERD {
  width: 35.3rem;
  height: 5.3rem;
  position: absolute;
  left: 2.5rem;
  top: 13.8rem;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .contact-1-KxT {
  width: 15.3rem;
  height: 11.1rem;
  position: absolute;
  left: 10.5rem;
  top: 20rem;
  object-fit: cover;
  vertical-align: top;
}
.account-details-N6B .rectangle-20-FbD {
  width: 16.8rem;
  height: 5.5rem;
  position: absolute;
  left: 1.4rem;
  top: 42.6rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-details-N6B .rectangle-24-Bjm {
  width: 36.4rem;
  height: 7.4rem;
  position: absolute;
  left: 1.4rem;
  top: 68.6rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-details-N6B .first-name-89D {
  width: 12.9rem;
  height: 2.9rem;
  position: absolute;
  left: 1.9rem;
  top: 38.6rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .last-name-zx7 {
  width: 12.3rem;
  height: 2.9rem;
  position: absolute;
  left: 21rem;
  top: 38.6rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .date-of-birth-iNK {
  width: 16rem;
  height: 2.9rem;
  position: absolute;
  left: 1.4rem;
  top: 51.4rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .blood-group-SJK {
  width: 15.7rem;
  height: 2.9rem;
  position: absolute;
  left: 21rem;
  top: 51.4rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .email-address-kK1 {
  width: 17.2rem;
  height: 2.9rem;
  position: absolute;
  left: 1.9rem;
  top: 65.1rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.account-details-N6B .item-0000-e9V {
  width: 8.5rem;
  height: 3.5rem;
  position: absolute;
  left: 14.1rem;
  top: 32.6rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.445;
  color: #000000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
