
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.6rem;
}.bx-checkbox-8QX {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.bx-checkbox-8QX .property-1default-jHq {
  margin-bottom: 2.1rem;
  width: 4.6rem;
  height: 4.2rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.bx-checkbox-8QX .property-1default-DD1 {
  width: 4.6rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
